// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.badge{
    padding: 5px 10px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    background-color: #999999;
    border-radius: 1px;
    text-decoration: none;
    color: #fff;
}


.badge:hover{
    text-decoration: none;
    color: #fff;
}
.badge-lg{
    font-size: 1.0rem;
}

.badge-success {
    background-color: #468847;
}

a{
    text-decoration: none;
}
